$accent: #37C2E7;
$w: #fff;
$bg: #2B3B81;

%montserrat{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
%rotondac{
  font-family: 'RotondaC', sans-serif;
  font-weight: 400;
}
%rotondac-700{
  font-family: 'RotondaC-Bold', sans-serif;
  font-weight: 700;
}