@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  min-height: 900px;
  margin-bottom: 85px;
}
.header-top{
  display: flex;
  justify-content: space-between;
  padding-top: 30px;

}
.menu{
  font-size: 19px;
  line-height: 22px;
  &__list{
    display: flex;
  }
  .menu__list.menu__list--active{
    transform: translate(0%);
    transition: all .2s;
    text-align: center;
    transition: all 0.5s;
  }
  &__item{
    display: inline-block;
    padding-top: 24px;
  }
  &__item + .menu__item{
    padding-left: 40px;
  }
  &__link{
    color: $w;
    transition: all .3s;
    display: block;
    border: none;
    background-color: transparent;
    &:hover{
      color: $accent;
    }
  }
  &__btn{
    background-color: transparent;
    border: none;
    display: none;
    position: absolute;
    padding: 0;
    top: -100px;
    right: 3px;
  }
  &__drop{
    position: relative;
    display: inline-block;
    margin-left: 15px;
    border-radius: 20px;
    &:hover .menu__drop-content{
      display: block; 
    }
    &:hover .menu__dropbtn{
      padding-bottom: 15px;
    }
    &:hover{
      background-color: $accent;
      padding-bottom: 101px;
    }
  }
  &__dropbtn{
    background-color: $accent;
    padding: 24px 30px 24px 26px;
    color: $w;
    border: none;
    border-radius: 20px;
    svg{
      margin-left: 14px;
    }
  }
  &__drop-content{
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    a{
      color: $w;
      padding: 10px 26px;
      display: block;
      transition: all .5s;
      &:hover{
        color: $bg;
      }
    }
  }
}
.header-content{
  text-transform: uppercase;
  margin-top: 68px;
  &__title{
    font-size: 96px;
    line-height: 97.5%;
    margin-bottom: 16px;
  }
  &__subtitle{
    font-size: 36px;
    line-height: 97.5%;
    margin-bottom: 55px;
  }
  &__btn{
    display: inline-block;
    color: $w;
    font-size: 28px;
    line-height: 32px;
    background-color: $bg;
    padding: 30px 40px 25px 93px;
    border-radius: 4.36496px;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 25px;
      width: 35px;
      height: 50px;
      background-image: url('../images/icon/check.svg')
    }
  }
}
.rules{
  padding-bottom: 113px;
  &__title{
    margin-bottom: 30px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 370px;
    width: 370px;
    border-radius: 20px;
    background-color: $bg;
    padding: 30px;
    
  }
  &__img{
    margin: 0 auto 27px;
  }
  &__action{
    font-size: 27px;
    line-height: 31px;
    text-align: center;
    text-transform: uppercase;
  }
  &__action-size{
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 5px;
  }
  &__text{
    font-size: 19px;
    line-height: 22px;
  }
  &__reg{
    margin-bottom: 5px;
  }
  &__link{
    color: $accent;
  }
}
.all{
  background-image: url('../images/bg-img.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.prize{
  padding-bottom: 125px;
  &__title{
    margin-bottom: 30px;
  }
  &__items{
    display: grid;
    grid-template-columns: 712px auto;
    grid-column-gap: 26px;
    margin-bottom: 50px;
  }
  &__items-next{
    display: grid;
    grid-template-columns: 859px auto;
    grid-column-gap: 22px;
  }
  &__item{
    position: relative;
    border-radius: 20px;
    background-color: $w;
    &:nth-child(1){
      padding: 45px 57px 0px 17px;
    }
    &:nth-child(2){
     padding: 81px 79px 39px 45px;
    }
  }
  &__item-list{
    position: relative;
    border-radius: 20px;
    background-color: $w;
    padding: 58px 26px 28px 27px;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__desc{
    position: absolute;
    top: -24px;
    left: 20px;
    max-width: 300px;
    background-color: $accent;
    text-transform: uppercase;
    font-size: 23px;
    line-height: 110%;
    border-radius: 5px;
    padding: 10px 19px;
  }
  &__num{
    position: absolute;
    top: 81px;
    right: 33px;
  }
  &__num-list{
    position: absolute;
    top: -10px;
    right: 10px;
  }
  &__box,
  &__box--center{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 237px;
    flex-direction: column;
    align-items: center;
    height: 252px;
    margin-right: 20px;
    &:nth-last-child(2){
      align-items: flex-start;
    }
    &:nth-child(3){
      padding-top: 71px;
      margin-right: 0;
      align-items: flex-start;
    }
  }
  &__box--center{
    padding-top: 49px;
    margin-right: 0;
  }
  &__text{
    font-size: 23px;
    line-height: 110%;
    color: $bg;
    position: absolute;
    width: 239px;
    right: 0;
    bottom: 28px;
    margin: 0 59px 0 auto;
  }
  &__text--position{
    width: 352px;
    margin: 0;
    right: auto;
  }
  &__name{
    font-size: 21px;
    line-height: 110%;
    color: $bg;
    height: 92px;
  }
}
.slider{
  padding-bottom: 102px;
  &__items{
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  &__title{
    margin-bottom: 24px;
  }
  &__product{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: $w;
    height: 476px;
    max-width: 270px;
    padding: 13px 20px 23px 20px;
  }
  &__img{
    margin: 0 auto;
  }
  &__subtitle{
    text-align: center;
    color: $bg;
    font-size: 21px;
    line-height: 110%;
    text-transform: uppercase;
    margin-bottom: 19px;
  }
  &__list{
    text-align: center;
    color: #777777;
    font-size: 14px;
    line-height: 140%;
    @extend %rotondac;
    &:first-child{
      margin-bottom: 5px;
    }
  }
  .slick-prev,
  .slick-next{
    position: absolute;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
  .slick-prev{
    left: -94px;
  }
  .slick-next{
    right: -94px;
  }
  .slick-dots{
    position: absolute;
    display: flex;
    bottom: -102px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -13px;
    button{
      font-size: 0;
      padding: 0;
      border: none;
      border-radius: 50%;
      width: 21px;
      height: 21px;
      margin-left: 26px;
      background-color: $w;
    }
  }
  .slick-active button{
    background-color:#243D7D;
  }
}
.slick-slide{ 
  width: 300px; 
}
.winners{
  padding: 125px 0 108px;
  &__title{
    margin-bottom: 14px;
  }
  &__table{
    background-color: $w;
    padding: 40px 34px 34px;
    border-radius: 20px;
  }
}
.table{
  min-width: 1100px;
  width: 100%;
  font-size: 23px;
  line-height: 105%;
  color: $bg;
  border-collapse: collapse;
    tr{
        border-bottom: 1px solid #E0E5FB;
   }
    &__subtitle{
      font-size: 19px;
      line-height: 21px;
      color: #9A9EAC;
      @extend %rotondac;
      text-align: left;
      th{
          padding-bottom: 19px;
          font-weight: 400;
          &:last-child{
          text-align: right;
          }
        }
    }
    &__info{
      td{
        width: 219px;
        padding: 34px 0;
        &:last-child{
          text-align: right;
        }
      }
    }
}
.pagination{
  display: flex;
  justify-content: flex-end;
  margin-top: 34px;
  &__list{
    display: flex;
  }
  &__item,
  &__arrows
  { display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin-left: 11px;
    &:hover{
      border-radius: 10px;
      border: none;
      background-color: $accent;
      path{
        stroke: $w;
      }
    }
  }
  &__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 23px;
    line-height: 105%;
    color: $bg;
    border-radius: 10px;
    border: 3px solid #DCDEE8;
    &:hover{
       color: $w;
    }
  }
  &__link--active{
    color: $w;
    background-color: $accent;
    border: none;
  }
  &__arrows{
    border: none;
    border-radius: 10px;
    background-color: #F0F2FB;
  }
}

.accordion{
  &__title{
    margin-bottom: 24px;
  }
}
.accordion-item{
  cursor: pointer;
  background-color: #fff;
  padding: 30px 34px 32px 40px;
  color: #000;
  border-bottom: 1px solid #E3E7FC;
  &:last-child{
    border-radius: 0 0 20px 20px;
  }
  &:first-of-type{
    border-radius: 20px 20px 0 0;
    
  }
  &__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__subtitle{
    font-size: 28px;
    line-height: 32px;
    color: $bg; 
  }
  &__content{
    max-width: 865px;
    margin-top: 40px;
    display: none;
    @extend %rotondac;
    font-size: 18px;
    line-height: 140%;
    color: #777;
    margin-bottom: 57px;
  }
  &__btn{
    padding: 5px 0 0 0;
    border: 0;
    width: 48px;
    height: 48px;
    background-color: #54D5FF;
    border-radius: 50%;
    cursor: pointer;
  }
  &__title--active{
    .off{
      stroke: #54D5FF;
    }
  }
}
.footer{
 @extend %rotondac;
padding-top: 251px;
// background-image: url('../images/bg-footer.png'), url('../images/gradient-footer.png');
// background-repeat: no-repeat;
// background-position-y: -45px, 0 ;
// background-size: contain, cover;
}
.footer-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  &__text{
    font-size: 22px;
    line-height: 110%;
  }
  &__tel{
    font-size: 22px;
    line-height: 110%;
    color: $w;
  }
}
.footer-bottom{
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 47px;
}
@import 'media';